@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #432;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/*---------------- */

.logo {
    width: 210px;
    height: 14px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    list-style: none;
}

.main-nav li {
    margin-left: 10px;
    justify-content: center;
}
.main-nav a {
    color: #ffffff;
}
.main-nav a:hover {
    color: bisque;
}

.pagetop {
    display: flex;
    background-color: #dc0006;
    height: 74px;
    justify-content: center;
    margin: 14px;    
}

.big-bg {
    background-image: url(images/TOP.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
}
#home {
    background-image: url(https://amatsuki.jp/s3/skiyaki/uploads/link/image/12168/bg_body.jpg); 
    background-repeat: no-repeat;
    background-position: center 400px;
}

/* .bg {
    background-image: url(images/TOP.jpg);
    background-repeat: no-repeat; */
    /* background-size: contain;
  
} */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: 100px 450px 300px;
    margin: 10px 250px 20px;


}

.item {

    background: rgba(200, 200,200, 0.5);
}