@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #432;
    /* display: inline-block;
    border: solid 1px;
    border-color:  #dc0006;
    margin: 24px; */

}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/*---------------- */


.main-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    list-style: none;
}
/*ロゴの位置を変える方法調べる*/
.logo {
    width: 210px;
    height: 14px;
    
}
.main-nav li {
    margin-left: 10px;
    justify-content: center;
}
.main-nav a {
    color: #ffffff;
}
.main-nav a:hover {
    color: bisque;
}

.pagetop {
    display: flex;
    background-color: #dc0006;
    height: 74px;
    justify-content: center;
    margin: 14px;    
}

.button {
    background: #0db;
    
}

.big-bg {
    background-image: url(images/TOP.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
}
#home {
    background-image: url(https://amatsuki.jp/s3/skiyaki/uploads/link/image/12168/bg_body.jpg); 
    background-repeat: no-repeat;
    background-position: center 400px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: 100px 450px 300px;
    margin: 10px 250px 20px;
}

.item {
    background: rgba(200, 200,200, 0.5);
    text-align: left;
}

h2 {
    border-bottom: double silver;
    line-height: 4;
    color: #000000;
}

.item p {
    border-bottom: solid silver;
    font-size: 15px;
}
.item a {
    color: #000000;
}