/* css */
a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 74px;
  background-color: #dc0006;
  justify-content: center;

}
.logo.root {
  width: 10px;
  height:10px;
}

.gnavi_ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.gnavi_li {
  display: flex;
justify-content: center;
 padding-right: 10px;
}

.burnner {
  display: flex;
  justify-content: center;
}

.burnner_1{
  margin: 10px;
  padding: 10px;
}



body {
background-image: url(https://amatsuki.jp/s3/skiyaki/uploads/link/image/12168/bg_body.jpg);
background-repeat: no-repeat;
background-size: cover;
  border-width: 1px;
  border-style: solid;
  border-color: #dc0006;
}
.text {
  display: flex;
  justify-content: center;
}

.footer_text1{
  color: #ffff;
  font-size: 5px;
  margin: 10px;
  padding: 10px;
}
