@charset "UTF-8";

html {
  font-size: 100%;
}

.logo{
  width: 125px;
}

.main-nav{
  display: flex;
  font-size: 1.25rem;
  list-style: none;
}

.main-nav li{
  margin-top: 40px;
  margin-left: 50px;
}

.main{
  display: flex;
  justify-content: space-between;
}

.wrapper{
  max-width: auto;
  padding: 0 4%;
}

.home-content{
  text-align: center;

}

.home-content p{
  font-size: 1.125rem;
  margin: 10px 0 42px;
}
.big{
  background-size: cover;
  background-position: center top;
  background-repeat: no-no-repeat;
}

#home{
  background-image: url(../images/big.JPG);
  min-height: 100vh;

}
